div{
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 164, 5);
    margin: 0 auto;
    margin-top: 300px;
    border-radius: 10px;
}


body{
   background-color: rgb(230, 230, 33)
}


.h2{
    background-color: black;
    color: white;
    width: 50px;
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
}

.h3{
    background-color: black;
    color: white;
    width: 50px;
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
}

.h4{
    background-color: black;
    color: white;
    width: 50px;
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 20px;
   border-radius: 10px;
}